{% extends "template.html" %}
		
{% block content %}

<h1> Arts and crafts with computers. </h1>

<img style="width: 120px; margin-right: 10px; float:right" src="{{ url_for('static', filename='img/graphic_design.jpeg') }}">
<p>
    I would like to think I am a little creative.
</p>
<p>
	I have done some graphic design with <a href="http://www.adobe.com/InDesign">Adobe InDesign</a> and <a href="http://www.adobe.com/Photoshop‎">Adobe PhotoShop</a>. 
</p>
<p>
    You can check out some of my work here.
</p>

<div style="height:400px;background-color: black;opacity:0.4;">
</div>
<h1> You can hire me for this, too! </h1>

<p>
    I'll freelance just about anything. Ask me to do it with a paycheck, and I can make it happen.
</p>
<p>
    <a href="mailto:johnhammond010@gmail.com">Contact me</a> as usual and we'll sort something out.
</p>
<p>


{% endblock %}