{% extends "template.html" %}
		
{% block content %}


<h1> Welcome home, my friend. </h1>

<p>
	Thanks for accidentally stumbling upon my small stake of the Internet; I'm happy you're here.
</p>
<p>
	As it turns out, this is not only my home &mdash; but <em>yours</em> too. 
</p>

<h1> I am a freelancer.</h1>
<p>
	That means that I take advantage of the Internet to make money off of people <small>(just kidding)</small>.
</p>
<p>
	It's a dog-eat-dog world out there, and I'm the runt of the litter. So I've resorted selling my <strike>body</strike> mind. 
</p>
<p>
	Just a guy that needs to put food on the table; so please forgive the ads. 
</p>
<h1>
	I make programming &amp; hacking videos.
</h1>
<p>
	<img style="float:left; margin-top: -10px" width="200" src="{{ url_for('static', filename = 'img/youtube.png')}}">

	You can check out my videos on <a href="https://youtube.com/">YouTube</a> that cover Capture the Flag competitions, programming tutorials, and other cool stuff. 
	I hope to do more face-to-face videos soon. Just trying to think of ideas...
</p>
<h1>
	This website is incomplete.
</h1>
<p>
	Sorry there is nothing here right now. I'll add more to it soon. Eventually. I promise.
</p>


{% endblock %}