{% extends "template.html" %}
		
{% block content %}


<h1> Welcome home, my friend. </h1>

<p>
	Thanks for accidentally stumbling upon my small stake of the Internet; I'm happy you're here.
</p>
<p>
	As it turns out, this is not only my home &mdash; but <em>yours</em> too. 
</p>

<h1> I am a freelancer.</h1>
<p>
	That means that I take advantage of the Internet to make money off of people <small>(just kidding)</small>.
</p>
<p>
	It's a dog-eat-dog world out there, and I'm the runt of the litter. So I've resorted selling my <strike>body</strike> mind. 
</p>
<p>
	Just a guy that needs to put food on the table; so please forgive the ads. 
</p>
<h1>
	I make programming &amp; hacking videos.
</h1>
<p>
	<a href="https://youtube.com/johnhammond010"><img style="float:left; margin-top: -10px" width="190" src="{{ url_for('static', filename = 'img/youtube.png')}}"></a>

	You can check out my videos on <a href="https://youtube.com/johnhammond010">YouTube</a> that cover Capture the Flag competitions, programming tutorials, and other cool stuff. 
	<br>
</p>
<p>
    Also, I started a small <a href="https://discord.gg/Kgtnfw4">Discord</a> server that is slowly getting some traction.
</p>
<a href="https://discord.gg/Kgtnfw4"><img style="float:right; margin-top: -12px; margin-right: 0px" width="65" src="{{ url_for('static', filename = 'img/discord.png')}}"></a>
<p>
    If you want to hang out with a cool group of CTF players, programmers &amp; hackers, come join the party! We love to coordinate and collaborate as a team for upcoming competitions.
</p>
<h1>
    This website is incomplete.
</h1>
<p>
	Sorry there is not much here right now. I'll add more to it soon. &nbsp; Eventually. &nbsp; &nbsp;  I promise.
</p>


{% endblock %}