{% extends "template.html" %}
		
{% block content %}


<img height=130px style="float:right; margin-top: 30px;" src="{{url_for('static', filename='img/html-css-javascript.png')}}">
<h1> Code is cool. </h1>

<p>
	I started to program before I was in high school. 
</p>
<p>
	Back then, I learned <a href="https://en.wikipedia.org/wiki/HTML">HTML</a>, <a href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets">CSS</a>, and <a href="https://www.javascript.com/">JavaScript</a>. I got into <a href="http://www.php.net/">PHP</a> &amp; <a href="https://www.mysql.com/">MySQL</a>, too!  
</p>
<a href="https://www.ubuntu.com/"><img height=75px style="display: block;margin: 0 auto;" src="{{url_for('static', filename='img/ubuntu.png')}}"></a>
<p> That rolled into a snow ball effect, so I found <a href="https://www.linux.org/">Linux</a> and now I use <a href="https://www.ubuntu.com/">Ubuntu</a> as my host OS. </p>
<p>
	I tried to get into <a href="https://www.java.com/en/">Java</a>, and I learned the jist of <a href="https://en.wikipedia.org/wiki/C_(programming_language)">C</a> and <a href="http://www.cplusplus.com/">C++</a>. 
</p>
<p>
	I tinkered with stuff like <a href="https://www.ruby-lang.org/">Ruby</a> and <a href="https://www.perl.org/">Perl</a> &mdash; so I picked up <a href="https://en.wikipedia.org/wiki/Regular_expression">Regular Expressions</a>...
</p>
<a href="https://www.python.org/"><img height=120px src="{{url_for('static', filename='img/python_logo.png') }}" style="float:left;"></a>
<p>
	But I fell in love with <a href="https://www.python.org/">Python</a>.
</p>
<p>
	Python is my "weapon of choice," my go-to language whenever I actually want to develop something or accomplish a task. Years ago I released some basic Python tutorials on my <a href="https://youtube.com/johnhammond010">YouTube</a> channel. 
</p>
<a href="https://github.com/"><img height=120px src="{{url_for('static', filename='img/github_logo.png') }}" style="float:right;margin-top: 30px; margin-right: 30px;"></a>
<h1> So check out my projects! </h1>


<p> I have a GitHub repository filled with junk. Some of it is good junk. </p>

<p> You can be the judge. <a href="https://github.com/JohnHammond/"> https://github.com/JohnHammond/</a> </p>

{% endblock %}