<!DOCTYPE html>

<html>

	<head>
		<title>John Hammond</title>
		<meta charset="utf-8">
		<link rel="shortcut icon" type="image/ico" href="{{ url_for('static', filename='ico/favicon.ico') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/master.css') }}">
		<script src="{{url_for('static', filename='js/jquery.js')}}"></script>
	</head>
	<body>

		<a href="{{ url_for('index') }}" id="banner_link"><span id="banner"> johnhammond 
			<img src="{{url_for('static', filename='img/me.jpeg' )}}"></span></a>

		<nav>
			<a href="{{ url_for('programming') }}"> <li> Programming </li></a>
			<a href="{{ url_for('writeups') }}"> <li> Writeups </li></a>
			<a href="{{ url_for('voice_acting') }}"> <li> Voice Acting </li></a>
			<a href="{{ url_for('graphic_design') }}"> <li> Graphic Design</li></a>
			<!-- <a href="#"> <li> Photography</li> </a>  -->
		</nav>
		
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Skyscraper -->

		<script>
		jQuery(document).ready(function($){
		    $('ins').each(function(){
		    (adsbygoogle = window.adsbygoogle || []).push({});
		    });
		});
		</script>

		<div class="adsbygoogle_left">
		    <ins class="adsbygoogle"
		     style="display:inline-block;width:120px;height:600px"
		     data-ad-client="ca-pub-2699530946481093"
		     data-ad-slot="4865529043"></ins>
		</div>

		<div class="adsbygoogle_right">
		    <ins class="adsbygoogle"
		     style="display:inline-block;width:120px;height:600px"
		     data-ad-client="ca-pub-2699530946481093"
		     data-ad-slot="4865529043"></ins>
		</div>
		
		{% block content %}{%endblock %}
		
		<footer>
			<nav>
				<a href="#"><li> contact </li></a>
				<a href="#"><li> résumé </li></a>
			</nav>
		</footer>

	</body>
</html>