{% extends "template.html" %}
		
{% block content %}

<h1> Words, words, words. </h1>

<p>
	Somehow I learned how to talk to into a microphone.
</p>
<p>
	Believe it or not, I did a lot of theatre; both in high school &amp; with a community performing arts group.
</p>

<p>
    And if you have heard me on my <a href="https://youtube.com/johnhammond010">YouTube</a> channel, you know how I sound.
</p>
<h1> Hire me for some voice acting! </h1>

<p>
    E-mail me at <a href="mailto:johnhammond010@gmail.com">johnhammond010@gmail.com</a> and we can talk about any job or deal you would like.
</p>
<p>
    At some point, this page may be filled with jobs that I have done to showcase my <em>voice acting experience</em>, but at the moment, I have nothing all that fancy to share. 
</p>
<p>
    But I am happy to help and do something if you provide a script.
</p>

<a href="mailto:johnhammond010@gmail.com"><img width=220px style="float:right; margin:10px" src="{{ url_for('static', filename='img/microphone.png') }}"></a>


{% endblock %}