{% extends "template.html" %}
		
{% block content %}

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Skyscraper -->
<ins class="adsbygoogle"
     style="display:inline-block;width:120px;height:600px"
     data-ad-client="ca-pub-2699530946481093"
     data-ad-slot="4865529043"></ins>

<script>
jQuery(document).ready(function($){
    $('ins').each(function(){
    (adsbygoogle = window.adsbygoogle || []).push({});
    });
});
</script>


<h1> I can say words. </h1>

<p>
	Somehow I learned how to talk to into a microphone.
</p>
<p>
	Believe it or not, I did a lot of theatre; both in high school &amp; with a community performing arts group.
</p>

<p>
    And if you have heard me on my <a href="https://youtube.com/johnhammond010">YouTube</a> channel, you know how I sound.
</p>
<h1> Hire me for some voice acting! </h1>

{% endblock %}