{% extends "template.html" %}
		
{% block content %}


<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Skyscraper -->
<ins class="adsbygoogle_left"
     style="display:inline-block;width:120px;height:600px"
     data-ad-client="ca-pub-2699530946481093"
     data-ad-slot="4865529043"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


<h1> I can say words. </h1>

<p>
	Somehow I learned how to talk to into a microphone.
</p>
<p>
	Believe it or not, I did a lot of theatre; both in high school &amp; with a community performing arts group.
</p>

{% endblock %}