{% extends "template.html" %}
		
{% block content %}

<a href="https://ctftime.org"><img height=40px style="float:right; margin-top:80px" src="{{ url_for('static', filename='img/ctftime_logo.png') }}"></a>
<h1> I play CTFs and wargames. </h1>
<p>
	Capture the Flag competitions are my favorite things. 
</p>
<p>
	I keep track of current games with <a href="https://ctftime.org/">CTFTime</a>, the <a href="https://reddit.org/">securityCTF subreddit</a>, <a href="https://www.hackerone.com/zerodaily">Zero Daily</a>, and other sources.
</p>
<h1> But practice makes perfect. </h1>

<p> So I try my hand at wargames: always-online challenges to hone your skills. </p>


<p> Don't get me wrong, I'm not very good: but I like to try. So here is a list of my writeups: </p>

<table>
	<tr>
		<td> OverTheWire </td>
		<td> PicoCTF </td>
		<td> SANS Holiday Hack Challenge </td>
	</tr>
	<tr>
		<td> Ryan's CTF </td>
		<td> Hack This Site! </td>
		<td> UnderTheWire </td>
	</tr>
	<tr>
		<td> Exploit Exercises </td>
		<td> Smash The Stack </td>
		<td> pwnable.kr </td>
	</tr>
</table>


<p>
	And I try my best to do writeups from recent and temporary competitions. Below is a list of games that I have played; those with links should include writeups.
</p>

<p style="text-align:center">
<span style="padding:10px 15px; display:inline-block">32c3 CTF</span>
<span style="padding:10px 15px; display:inline-block">BreakIn 2016</span>
<span style="padding:10px 15px; display:inline-block">EKOPARTY 2016</span>
<span style="padding:10px 15px; display:inline-block">HackIM 2016</span>
<span style="padding:10px 15px; display:inline-block">Hack The Vote 2016</span>
<span style="padding:10px 15px; display:inline-block">InsomnicHack 2016 Teaser</span>
<span style="padding:10px 15px; display:inline-block">Internetwache 2016</span>
<span style="padding:10px 15px; display:inline-block">SECCON 2015</span>
<span style="padding:10px 15px; display:inline-block">QIWI InfoSEC CTF 2016</span>
<span style="padding:10px 15px; display:inline-block">BreakIn 2017</span>
<span style="padding:10px 15px; display:inline-block">BITSCTF</span>
<span style="padding:10px 15px; display:inline-block">AlexCTF</span>
<span style="padding:10px 15px; display:inline-block">BSides CTF 2017</span>
<span style="padding:10px 15px; display:inline-block">HackIM 2017</span>
<span style="padding:10px 15px; display:inline-block">Hackcon Mini 2017</span>
<span style="padding:10px 15px; display:inline-block">Codegate Prequals 2017</span>
<span style="padding:10px 15px; display:inline-block">ABCTF</span>
<span style="padding:10px 15px; display:inline-block">33c3 CTF</span>
<span style="padding:10px 15px; display:inline-block">3DSCTF</span>
<span style="padding:10px 15px; display:inline-block">ALICTF</span>
<span style="padding:10px 15px; display:inline-block">InsomnicHack 2017 Teaser</span>
<span style="padding:10px 15px; display:inline-block">Kaizen CTF 2016</span>
<span style="padding:10px 15px; display:inline-block">ASIS CTF</span>
<span style="padding:10px 15px; display:inline-block">CTF(x)</span>
<span style="padding:10px 15px; display:inline-block">DCTF 2016</span>
<span style="padding:10px 15px; display:inline-block">Google 2016 CTF</span>
<span style="padding:10px 15px; display:inline-block">Hackover CTF 2016</span>
<span style="padding:10px 15px; display:inline-block">HITCON 2016</span>
<span style="padding:10px 15px; display:inline-block">IceCTF 2016</span>
<span style="padding:10px 15px; display:inline-block">Joint Cyber Competition</span>
<span style="padding:10px 15px; display:inline-block">LabyrenthCTF</span>
<span style="padding:10px 15px; display:inline-block">MMA 2016</span>
<span style="padding:10px 15px; display:inline-block">TJCTF</span>
<span style="padding:10px 15px; display:inline-block">TUCTF</span>
<span style="padding:10px 15px; display:inline-block">TUMCTF</span>
<span style="padding:10px 15px; display:inline-block">SchoolCTF</span>
<span style="padding:10px 15px; display:inline-block">VolgaCTF 2016</span>
<span style="padding:10px 15px; display:inline-block">0CTF 2016</span>
<span style="padding:10px 15px; display:inline-block">AngstromCTF 2016</span>
<span style="padding:10px 15px; display:inline-block">Backdoor CTF 2016</span>
<span style="padding:10px 15px; display:inline-block">SCTF 2016</span>
<span style="padding:10px 15px; display:inline-block">BCTF 2016</span>
<span style="padding:10px 15px; display:inline-block">BlazeCTF 2016</span>
<span style="padding:10px 15px; display:inline-block">PlaidCTF 2016</span>
<span style="padding:10px 15px; display:inline-block">LASACTF 2016</span>
<span style="padding:10px 15px; display:inline-block">PragyanCTF 2016</span>
</p>


{% endblock %}